.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 1;
  background: rgba(255,255,255,0.7);

  transition: opacity 200ms;
  pointer-events: all;
}

.modal--closed {
  opacity: 0;
  pointer-events: none;
}
