.intro {
  position: relative;
  height: 100vh;
}

.intro__content {
  position: absolute;

  top: 50%;
  left: 50%;

  margin: -165px 0 0 -165px;

  width: 330px;
  height: 330px;
}

.intro__text {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;

  margin-top: -250px;

  text-align: center;

  color: #585858;
}

.intro__info-btn {
  margin-top: 10px;
  color: #383838;
  cursor: pointer;

  transition: color 200ms;
}

.intro__info-btn:hover {
  color: #585858;
}

.intro__logo {
  color: #b8b8b8;
  font-style: italic;
}

.dropzone {
  color: #585858;
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
  cursor: pointer;
  border: 1px solid #383838;

  transition: border 200ms, color 200ms;
}

.dropzone:hover,
.dropzone--active {
  color: #383838;
  border: 1px solid #282828;
}

.dropzone__text {
  display: table-cell;
  vertical-align: middle;
}

.intro__examples {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;

  margin-top: 200px;

  text-align: center;

  color: #585858;
}

.intro__examples-text {
  margin-bottom: 20px;
}

.intro__examples-list {
  width: 260px;
  margin: 0 auto;
  text-align: left;
}

.intro__examples-list-item {
  cursor: pointer;

  transition: color 200ms;

  color: #585858;

  margin-bottom: 4px;
}

.intro__examples-list-item:hover {
  color: #383838;
}

.intro__examples-original-link {
  text-decoration: none;
  font-style: italic;
  color: #383838;
  border: 1px bottom #383838;
}
