@import url('https://fonts.googleapis.com/css?family=Cousine');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background: #181818;
  font-family: 'Cousine', monospace;
}

#root {
  min-height: 100vh;
  font-size: 13px;
}

.modal-evolving {
  display: table;
  height: 100vh;
  width: 100%;
}

.modal-evolving__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #181818;
}

.content-no-scroll {
  height: 100vh;
  overflow: hidden;
}
